body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu";
}
table {
    box-shadow: 10px 5px 20px 5px rgb(119, 118, 118);
    margin-top: 25%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 15px;
}
thead{
    font-size: 30px;
}
th {
    background-color: #34495E;
    color: #fefefe;
}
td {
    font-family: "Sans.serif";
}
tr:nth-child(even) {
    background-color: #FAD7A0;
}
tfoot{
    font-size: 15px;
    background-color: #34495E;
    color:#fefefe;
}