@media only screen and (min-width: 950px){
    /* -------------header------------------------------ */
    .logo {
        width: 200px;
    }
    header h1 {
        font-size: 35px;
        margin-top: 70px;
    }
    #formatted-date {
        font-size: 20px;
    }
    /* ------------------nav-------------------------- */
    button {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    /* -------------------social media--------------- */
    .facebook_link {
        font-size: 15px;
    }
    .linkedln_link {
        font-size: 15px;
    }
    /* ----------------------main--------------------------- */
    .container {
        margin: 20px;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 250px 250px 250px;
    }
    .events{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .spotlight {
        background-color: rgb(216, 212, 212);
        grid-column: 3/4;
        grid-row: 1/4;
        margin: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }   
    .spotlight-3 {
        display: block;
    }
    /* -----------------------footer----------------------- */
    .logo_footer {
        width: 80px;
    }
    .information p {
        font-size: 15px;
        margin-top: 5px;
    }
    .contact_info p {
        font-size: 15px;
    }
    a {
        font-size: 15px;
    }
    #year {
        font-size: 15px;
    }
    .footer_line p {
        font-size: 15px;
    }
    #last-modify {
        font-size: 15px;
    }
}