/* -----------------small size------------------------------ */
body {
    margin: 0;
    background-color: #efefef;
}
/* ----------------------Header--------------------------- */
header {
    background-color: #FF5D2D;   
    padding: 0.5rem;
}
.logo {
    width: 80px;
}
header h1 {
    font-family: "Raleway";
    color: #fff;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}
#formatted-date {
    font-family: "Roboto";
    font-weight: bold;
    color: #efefef;
    padding: 5px;
    text-align: right;
    font-size: 10px;
}
/* ----------------------Nav--------------------------- */
#hamburguer {
    display: block;
    padding: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
}
#hamburguer:hover {
    background-color: #C70039;
    border-radius: 5px;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
ul {
    align-content: left;
    font-family: "Raleway";
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.nav-link {
    color: #efefef;
    text-decoration: none;
    margin: 0;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-size: 20px;
}
.nav-link:hover {
    background-color: #C70039;
    transition: 0.3s;
}
.nav_menu_item {
    font-size: 18px;
    padding: 5px;
    margin: 0;
}
nav ul li a {
    display: block;
}
/* ----------Social media buttoms--------- */
.social_media {
    text-align: right;
}
.date {
    text-align: right;
    font-family: "Roboto";
    margin: 5px;
    color: #fff;
    font-style: normal;
}
.facebook_link {
    color: #FF5D2D;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 10px;
    padding: 5px 15px 3px 15px;
    background-color: #fff;
    border-radius: 5px;
}
.facebook_link:hover {
    background-color: #C70039;
    color:#fff;
    transition: 0.3s;
}
.linkedln_link {
    color: #FF5D2D;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 10px;
    padding: 5px 15px 3px 15px;
    background-color: #fff;
    border-radius: 5px;
}
.linkedln_link:hover {
    background-color: #C70039;
    color: #fff;
    transition: 0.3s;
}

/* ----------------------Main--------------------------- */
.container {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 26vh 26vh 26vh 85vh;
}
.container div {
    margin: 5px;
}
.hero {
    background-image: url("images/home.jpeg");
    grid-column: 1;
    grid-row: 1/2;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.hero h3 {
    font-size: 30px;
    font-family: "Raleway";
    padding: 10px;
    color: #fefefe;
    background-color: #FF5D2D;
}
.hero_botton {
    margin-left: 5px;
    text-decoration: none;
    font-family: "Raleway";
    color: #efefef;
    background-color: #FF5D2D ;
    padding: 5px 10px;
    align-self: baseline;
    border-radius: 10px;
}
.hero_botton:hover {
    background-color: #C70039;
    transition: 0.3s;
}
.event{
    height: 26vh;
    grid-column: 1;
    grid-row: 2/3;
    font-family: "Roboto";
    background-color: #C70039;
    color: #efefef;
    padding: 5px 10px;
    text-align: center;
}
.event h3 {
    font-family: "Raleway";
}
.weather {
    grid-column: 1;
    grid-row: 3/4;
    background-color: #FF5D2D;
    color: #efefef;
    text-align: center;
}
.weather h3 {
    font-family: "Raleway";
}
.weather p {
    font-family: "Roboto";
}
.new {
    background-color: #C70039;
    color: #efefef;
    text-align: center;
    padding: 10px;
}
.new h3 {
    font-family: "Raleway";
}
.new p {
    font-family: "Roboto";
}
.spotlight {
    background-color: #FF5D2D;
    grid-column: 1;
    grid-row: 5/6;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #efefef;
}   
.spotlight1 {
    background-color: #C70039;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.spotlight1 h3 {
    font-family: "Raleway";
    margin: 0;
}
.spotlight1 h4 {
    font-family: "Raleway";
}
.truck {
    max-width: 80px;
}
.spotlight1 p {
    font-family: "Roboto";
}
.spotlight2 {
    background-color: #C70039;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.spotlight2 h3 {
    font-family: "Raleway";
    margin: 0;
}
.spotlight2 h4 {
    font-family: "Raleway";
}
.violin {
    max-width: 60px;
}
.spotlight2 p {
    font-family: "Roboto";
}
.spotlight3 {
    display: none;
}
.join {
    display: none;
}

/* ----------------------Footer--------------------------- */
footer {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    background-color: #FF5D2D;
    color: #fff;
    font-family: "Raleway";
    padding: 10px;
}
.logo_footer {
    margin-right: 5px;
    padding: 15px 5px 0 0;
    width: 50px;
}
.information {
    padding: 20px 10px 10px 10px;
}
.information p {
    margin: 0;
    font-size: 10px;
}
.contact_info {
    font-family: "Roboto";
    grid-column: 3/4;
    padding: 20px 0 10px 60px;
}
.contact_info p {
    margin: 0;
    font-size: 5px;
    max-width: fit-content;
}
a {
    color: #efefef;
    text-decoration: none;
    font-size: 10px;
} 
#year{
    font-family: "Roboto";
    font-size: 5px;
    max-width:fit-content;
}
.footer_line {
    display: flex;
    grid-column: 1/4;
    margin: 0 auto;
    font-family: "Roboto";
}
.footer_line p {
    margin: 0;
    float: right;
    font-size: 5px;
}
#last-modify {
    font-size: 5px;
}
